html{
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.l-wrap {
	max-width: 100rem;
	margin-top: 1rem; 
	margin-right: auto;
	margin-left: auto;
}
.grid:after {
  display: table;
  clear: both;
  content: '';
  margin: auto;
}
.grid .box{
	text-align: center; 
	width: 10%;
	padding-bottom: 10%; 	
	border: 1px solid #000;
	float: left;
}
